# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
client_secret_810335553768-or0v7kb5f3gjqqbc0952m80m0favmg0h.apps.googleusercontent.com.json
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv/*
server/model-eval/.venv/*
# Python Stuff
__pycache__
.venvclient_secret_810335553768-or0v7kb5f3gjqqbc0952m80m0favmg0h.apps.googleusercontent.com.json

client_secret_810335553768-or0v7kb5f3gjqqbc0952m80m0favmg0h.apps.googleusercontent.com.json

