{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <form id="uploadForm" method="POST" action="">
            {% csrf_token %}
            <div>
                <label for="Phishing Content" class="form-label">
                    Enter your Email Content:
                </label>
                <br>
                <textarea type="text" id="Content" class="form-control" name="email_content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Check Email</button>
        </form>
        {% if result %}
            <div class="result">
                The email is classified as: 
                <strong class="results">{{ result }}</strong>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
    <p>you are signed in {{user.email}}</P>
    <a href="logout">logout</a>
    {% endif %}
    </div>
{% endblock %}