@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}
body {
  height: 100vh;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ActionsCol {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 5px;
}

.loginBox {
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;

  & > div {
    background-color: #1f2a40;
    padding: 6rem 5rem;
    text-align: center;

    & > button {
      margin-top: 30px;
      padding: 0.5rem 1rem;
    }
  }
}
